In [1]:
import numpy as np
import pandas as pd
import talib

In [3]:
import ccxt
exchange = ccxt.binancecoinm({
	'apiKey': '296015e94a672f83bfb4076908741a255cd5c9f192da047d12eb63cff4c73a7e',
	'secret': '4ecd9157f7b1a8486742374e9627d4ae4cfca3b997d1532ef447dc915fad62f5',
})
# turn on testnet
# hasattr(exchange, 'set_sandbox_mode')
exchange.set_sandbox_mode(True)

In [21]:
exchange.has

{'publicAPI': True,
 'privateAPI': True,
 'CORS': None,
 'spot': False,
 'margin': False,
 'swap': True,
 'future': True,
 'option': None,
 'addMargin': True,
 'cancelAllOrders': True,
 'cancelOrder': True,
 'cancelOrders': None,
 'createDepositAddress': False,
 'createLimitOrder': True,
 'createMarketOrder': True,
 'createOrder': True,
 'createPostOnlyOrder': True,
 'createReduceOnlyOrder': True,
 'createStopOrder': True,
 'createStopLimitOrder': True,
 'createStopMarketOrder': True,
 'editOrder': True,
 'fetchAccounts': None,
 'fetchBalance': True,
 'fetchBidsAsks': True,
 'fetchBorrowInterest': True,
 'fetchBorrowRate': True,
 'fetchBorrowRateHistory': True,
 'fetchBorrowRatesPerSymbol': False,
 'fetchBorrowRates': False,
 'fetchCanceledOrders': False,
 'fetchClosedOrder': False,
 'fetchClosedOrders': 'emulated',
 'fetchCurrencies': True,
 'fetchDeposit': False,
 'fetchDepositAddress': True,
 'fetchDepositAddresses': False,
 'fetchDepositAddressesByNetwork': False,
 'fetchDeposits': True,
 'fetchFundingFee': None,
 'fetchFundingFees': None,
 'fetchFundingHistory': True,
 'fetchFundingRate': True,
 'fetchFundingRateHistory': True,
 'fetchFundingRates': True,
 'fetchIndexOHLCV': True,
 'fetchL2OrderBook': True,
 'fetchLedger': True,
 'fetchLedgerEntry': None,
 'fetchLeverageTiers': True,
 'fetchMarketLeverageTiers': 'emulated',
 'fetchMarkets': True,
 'fetchMarkOHLCV': True,
 'fetchMyTrades': True,
 'fetchOHLCV': True,
 'fetchOpenOrder': False,
 'fetchOpenOrders': True,
 'fetchOrder': True,
 'fetchOrderBook': True,
 'fetchOrderBooks': False,
 'fetchOrders': True,
 'fetchOrderTrades': True,
 'fetchPermissions': None,
 'fetchPosition': None,
 'fetchPositions': True,
 'fetchPositionsRisk': True,
 'fetchPremiumIndexOHLCV': False,
 'fetchStatus': True,
 'fetchTicker': True,
 'fetchTickers': True,
 'fetchTime': True,
 'fetchTrades': True,
 'fetchTradingFee': True,
 'fetchTradingFees': True,
 'fetchTradingLimits': None,
 'fetchTransactions': False,
 'fetchTransfers': True,
 'fetchWithdrawal': False,
 'fetchWithdrawals': True,
 'reduceMargin': True,
 'setLeverage': True,
 'setMargin': False,
 'setMarginMode': True,
 'setPositionMode': True,
 'signIn': False,
 'transfer': True,
 'withdraw': True,
 'borrowMargin': True,
 'fetchBorrowRateHistories': False,
 'fetchDepositWithdrawFee': 'emulated',
 'fetchDepositWithdrawFees': True,
 'fetchL3OrderBook': None,
 'fetchLastPrices': True,
 'fetchLeverage': False,
 'fetchOpenInterest': True,
 'fetchOpenInterestHistory': True,
 'fetchSettlementHistory': True,
 'fetchTransactionFee': None,
 'fetchTransactionFees': True,
 'fetchWithdrawalWhitelist': False,
 'repayMargin': True}

In [49]:
df = pd.DataFrame(exchange.fetchOhlcvc(symbol='ETHUSD_PERP', timeframe='1h', limit=500))

In [50]:
df.head

<bound method NDFrame.head of                 0        1        2        3        4        5    6
0   1613394000000  1500.00  1607.27   596.40  1607.27     77.0   16
1   1613548800000  1800.00  1800.00  1800.00  1800.00    134.0    2
2   1613556000000  1600.00  1600.00   596.40   596.40     15.0    2
3   1614960000000  1562.22  1562.22  1562.22  1562.22     10.0    1
4   1615312800000  1746.28  1746.28  1746.28  1746.28     10.0    1
5   1616083200000  1746.28  1746.28  1746.28  1746.28      1.0    1
6   1616144400000  1748.00  1748.00  1748.00  1748.00     10.0    1
7   1616148000000  1748.00  1756.00  1748.00  1756.00     92.0   10
8   1616162400000  1806.33  1806.33  1806.33  1806.33      2.0    2
9   1617001200000  1806.33  1806.33  1746.28  1746.28    286.0   11
10  1617109200000  1750.00  1750.00  1750.00  1750.00     70.0    1
11  1617170400000  1746.28  1746.28  1746.28  1746.28      1.0    1
12  1620658800000  4100.00  4100.00  1746.28  1746.28      2.0    2
13  1620792000000  3452.00  3452.00  3452.00  3452.00      2.0    2
14  1621054800000  4400.38  4400.38  4400.38  4400.38     12.0    1
15  1625202000000  1746.28  1746.28  1746.28  1746.28     10.0    1
16  1626145200000  2100.00  2100.00  1746.28  1746.28      4.0    2
17  1626260400000  2100.00  2100.00  1746.28  1746.28      6.0    5
18  1626408000000  2100.00  2100.00  1746.28  1746.28      4.0    2
19  1626688800000  1837.40  1838.10  1833.20  1838.10      4.0    4
20  1626876000000  1838.10  1838.10  1838.10  1838.10      1.0    1
21  1626879600000  1832.50  1838.10  1831.80  1831.80      3.0    3
22  1626883200000  1838.10  2100.00  1562.22  1562.22  62562.0   29
23  1628665200000  3545.60  3569.79  2918.90  3479.79   3016.0  385
24  1628755200000  3261.98  3261.98  3261.98  3261.98     10.0    1
25  1629205200000  3418.00  3418.00  3418.00  3418.00      1.0    1
26  1629370800000  3418.00  3418.00  3418.00  3418.00      5.0    1
27  1629892800000  3418.00  3418.00  3204.11  3204.11      8.0    3
28  1633435200000  3466.36  3466.36  3466.36  3466.36      1.0    1
29  1637208000000  4404.11  4404.11  4404.11  4404.11     19.0    1
30  1638345600000  4073.42  4073.42  4073.42  4073.42     19.0    1
31  1638428400000  4073.42  4707.26  4073.42  4707.26   7580.0    4>

In [51]:
df.columns = ['time', 'open','high', 'close', 'volume','omit','omit2']

In [57]:
df.drop(columns=['omit','omit2'])

                        open     high    close   volume
time
2021-02-15 13:00:00  1500.00  1607.27   596.40  1607.27
2021-02-17 08:00:00  1800.00  1800.00  1800.00  1800.00
2021-02-17 10:00:00  1600.00  1600.00   596.40   596.40
2021-03-05 16:00:00  1562.22  1562.22  1562.22  1562.22
2021-03-09 18:00:00  1746.28  1746.28  1746.28  1746.28
2021-03-18 16:00:00  1746.28  1746.28  1746.28  1746.28
2021-03-19 09:00:00  1748.00  1748.00  1748.00  1748.00
2021-03-19 10:00:00  1748.00  1756.00  1748.00  1756.00
2021-03-19 14:00:00  1806.33  1806.33  1806.33  1806.33
2021-03-29 07:00:00  1806.33  1806.33  1746.28  1746.28
2021-03-30 13:00:00  1750.00  1750.00  1750.00  1750.00
2021-03-31 06:00:00  1746.28  1746.28  1746.28  1746.28
2021-05-10 15:00:00  4100.00  4100.00  1746.28  1746.28
2021-05-12 04:00:00  3452.00  3452.00  3452.00  3452.00
2021-05-15 05:00:00  4400.38  4400.38  4400.38  4400.38
2021-07-02 05:00:00  1746.28  1746.28  1746.28  1746.28
2021-07-13 03:00:00  2100.00  2100.00  1746.28  1746.28
2021-07-14 11:00:00  2100.00  2100.00  1746.28  1746.28
2021-07-16 04:00:00  2100.00  2100.00  1746.28  1746.28
2021-07-19 10:00:00  1837.40  1838.10  1833.20  1838.10
2021-07-21 14:00:00  1838.10  1838.10  1838.10  1838.10
2021-07-21 15:00:00  1832.50  1838.10  1831.80  1831.80
2021-07-21 16:00:00  1838.10  2100.00  1562.22  1562.22
2021-08-11 07:00:00  3545.60  3569.79  2918.90  3479.79
2021-08-12 08:00:00  3261.98  3261.98  3261.98  3261.98
2021-08-17 13:00:00  3418.00  3418.00  3418.00  3418.00
2021-08-19 11:00:00  3418.00  3418.00  3418.00  3418.00
2021-08-25 12:00:00  3418.00  3418.00  3204.11  3204.11
2021-10-05 12:00:00  3466.36  3466.36  3466.36  3466.36
2021-11-18 04:00:00  4404.11  4404.11  4404.11  4404.11
2021-12-01 08:00:00  4073.42  4073.42  4073.42  4073.42
2021-12-02 07:00:00  4073.42  4707.26  4073.42  4707.26

In [53]:
df.set_index('time', inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 1613394000000 to 1638428400000
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    32 non-null     float64
 1   high    32 non-null     float64
 2   close   32 non-null     float64
 3   volume  32 non-null     float64
 4   omit    32 non-null     float64
 5   omit2   32 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 1.8 KB

In [55]:
df.index = pd.to_datetime(df.index, unit='ms')

In [58]:
df.head

<bound method NDFrame.head of                         open     high    close   volume     omit  omit2
time
2021-02-15 13:00:00  1500.00  1607.27   596.40  1607.27     77.0     16
2021-02-17 08:00:00  1800.00  1800.00  1800.00  1800.00    134.0      2
2021-02-17 10:00:00  1600.00  1600.00   596.40   596.40     15.0      2
2021-03-05 16:00:00  1562.22  1562.22  1562.22  1562.22     10.0      1
2021-03-09 18:00:00  1746.28  1746.28  1746.28  1746.28     10.0      1
2021-03-18 16:00:00  1746.28  1746.28  1746.28  1746.28      1.0      1
2021-03-19 09:00:00  1748.00  1748.00  1748.00  1748.00     10.0      1
2021-03-19 10:00:00  1748.00  1756.00  1748.00  1756.00     92.0     10
2021-03-19 14:00:00  1806.33  1806.33  1806.33  1806.33      2.0      2
2021-03-29 07:00:00  1806.33  1806.33  1746.28  1746.28    286.0     11
2021-03-30 13:00:00  1750.00  1750.00  1750.00  1750.00     70.0      1
2021-03-31 06:00:00  1746.28  1746.28  1746.28  1746.28      1.0      1
2021-05-10 15:00:00  4100.00  4100.00  1746.28  1746.28      2.0      2
2021-05-12 04:00:00  3452.00  3452.00  3452.00  3452.00      2.0      2
2021-05-15 05:00:00  4400.38  4400.38  4400.38  4400.38     12.0      1
2021-07-02 05:00:00  1746.28  1746.28  1746.28  1746.28     10.0      1
2021-07-13 03:00:00  2100.00  2100.00  1746.28  1746.28      4.0      2
2021-07-14 11:00:00  2100.00  2100.00  1746.28  1746.28      6.0      5
2021-07-16 04:00:00  2100.00  2100.00  1746.28  1746.28      4.0      2
2021-07-19 10:00:00  1837.40  1838.10  1833.20  1838.10      4.0      4
2021-07-21 14:00:00  1838.10  1838.10  1838.10  1838.10      1.0      1
2021-07-21 15:00:00  1832.50  1838.10  1831.80  1831.80      3.0      3
2021-07-21 16:00:00  1838.10  2100.00  1562.22  1562.22  62562.0     29
2021-08-11 07:00:00  3545.60  3569.79  2918.90  3479.79   3016.0    385
2021-08-12 08:00:00  3261.98  3261.98  3261.98  3261.98     10.0      1
2021-08-17 13:00:00  3418.00  3418.00  3418.00  3418.00      1.0      1
2021-08-19 11:00:00  3418.00  3418.00  3418.00  3418.00      5.0      1
2021-08-25 12:00:00  3418.00  3418.00  3204.11  3204.11      8.0      3
2021-10-05 12:00:00  3466.36  3466.36  3466.36  3466.36      1.0      1
2021-11-18 04:00:00  4404.11  4404.11  4404.11  4404.11     19.0      1
2021-12-01 08:00:00  4073.42  4073.42  4073.42  4073.42     19.0      1
2021-12-02 07:00:00  4073.42  4707.26  4073.42  4707.26   7580.0      4>

In [62]:
df = df.drop(columns=['omit', 'omit2'])

In [63]:
len(df.columns)

4

In [72]:
df = df.rename(columns={'close': 'low', 'volume': 'close'})
df.head

<bound method NDFrame.head of                         open     high      low    close
time
2021-02-15 13:00:00  1500.00  1607.27   596.40  1607.27
2021-02-17 08:00:00  1800.00  1800.00  1800.00  1800.00
2021-02-17 10:00:00  1600.00  1600.00   596.40   596.40
2021-03-05 16:00:00  1562.22  1562.22  1562.22  1562.22
2021-03-09 18:00:00  1746.28  1746.28  1746.28  1746.28
2021-03-18 16:00:00  1746.28  1746.28  1746.28  1746.28
2021-03-19 09:00:00  1748.00  1748.00  1748.00  1748.00
2021-03-19 10:00:00  1748.00  1756.00  1748.00  1756.00
2021-03-19 14:00:00  1806.33  1806.33  1806.33  1806.33
2021-03-29 07:00:00  1806.33  1806.33  1746.28  1746.28
2021-03-30 13:00:00  1750.00  1750.00  1750.00  1750.00
2021-03-31 06:00:00  1746.28  1746.28  1746.28  1746.28
2021-05-10 15:00:00  4100.00  4100.00  1746.28  1746.28
2021-05-12 04:00:00  3452.00  3452.00  3452.00  3452.00
2021-05-15 05:00:00  4400.38  4400.38  4400.38  4400.38
2021-07-02 05:00:00  1746.28  1746.28  1746.28  1746.28
2021-07-13 03:00:00  2100.00  2100.00  1746.28  1746.28
2021-07-14 11:00:00  2100.00  2100.00  1746.28  1746.28
2021-07-16 04:00:00  2100.00  2100.00  1746.28  1746.28
2021-07-19 10:00:00  1837.40  1838.10  1833.20  1838.10
2021-07-21 14:00:00  1838.10  1838.10  1838.10  1838.10
2021-07-21 15:00:00  1832.50  1838.10  1831.80  1831.80
2021-07-21 16:00:00  1838.10  2100.00  1562.22  1562.22
2021-08-11 07:00:00  3545.60  3569.79  2918.90  3479.79
2021-08-12 08:00:00  3261.98  3261.98  3261.98  3261.98
2021-08-17 13:00:00  3418.00  3418.00  3418.00  3418.00
2021-08-19 11:00:00  3418.00  3418.00  3418.00  3418.00
2021-08-25 12:00:00  3418.00  3418.00  3204.11  3204.11
2021-10-05 12:00:00  3466.36  3466.36  3466.36  3466.36
2021-11-18 04:00:00  4404.11  4404.11  4404.11  4404.11
2021-12-01 08:00:00  4073.42  4073.42  4073.42  4073.42
2021-12-02 07:00:00  4073.42  4707.26  4073.42  4707.26>

# use Ta-lib

### ATR

In [74]:
atr14 = talib.ATR( df['high'], df['low'], df['close'], 14)
print(atr14)

time
2021-02-15 13:00:00           NaN
2021-02-17 08:00:00           NaN
2021-02-17 10:00:00           NaN
2021-03-05 16:00:00           NaN
2021-03-09 18:00:00           NaN
2021-03-18 16:00:00           NaN
2021-03-19 09:00:00           NaN
2021-03-19 10:00:00           NaN
2021-03-19 14:00:00           NaN
2021-03-29 07:00:00           NaN
2021-03-30 13:00:00           NaN
2021-03-31 06:00:00           NaN
2021-05-10 15:00:00           NaN
2021-05-12 04:00:00           NaN
2021-05-15 05:00:00    548.683571
2021-07-02 05:00:00    699.070459
2021-07-13 03:00:00    674.402569
2021-07-14 11:00:00    651.496671
2021-07-16 04:00:00    630.226909
2021-07-19 10:00:00    591.769273
2021-07-21 14:00:00    549.500039
2021-07-21 15:00:00    510.700036
2021-07-21 16:00:00    512.634319
2021-08-11 07:00:00    619.415439
2021-08-12 08:00:00    590.729337
2021-08-17 13:00:00    559.678670
2021-08-19 11:00:00    519.701622
2021-08-25 12:00:00    497.857935
2021-10-05 12:00:00    481.028796
2021-11-18 04:00:00    513.651740
2021-12-01 08:00:00    500.583044
2021-12-02 07:00:00    510.101398
dtype: float64

# Abstract function

### ema20

In [75]:
from talib import abstract
SMA = abstract.SMA

In [76]:
inputs = {
    'open': np.random.random(100),
    'high': np.random.random(100),
    'low': np.random.random(100),
    'close': np.random.random(100),
    'volume': np.random.random(100)
}

In [77]:
output = SMA(inputs, timeperiod= 25)

In [80]:
df = pd.DataFrame(inputs)

In [78]:
print(output)

[       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.49347671 0.48837552 0.46643485 0.49028091 0.50125504 0.49446794
 0.47975839 0.50963589 0.48001441 0.47425273 0.47248406 0.48678154
 0.50008383 0.48617389 0.50489797 0.50315427 0.51367636 0.51579274
 0.50869197 0.50675572 0.48154565 0.48797909 0.46531365 0.45478552
 0.48239609 0.48026083 0.48995593 0.51497537 0.48822355 0.49536117
 0.50592229 0.48261834 0.48463882 0.50638018 0.50089041 0.48138593
 0.47473061 0.44822239 0.46598932 0.46655259 0.46007888 0.4620865
 0.47386201 0.45211953 0.46462501 0.48552459 0.46227196 0.46274218
 0.44848849 0.42212637 0.43793997 0.44527096 0.44115776 0.4649418
 0.4525747  0.45769902 0.47113964 0.46450958 0.4639095  0.47585143
 0.50036561 0.52765049 0.53351042 0.53830638 0.53357835 0.53800087
 0.56358601 0.55495167 0.56609256 0.58675691 0.56185086 0.55462039
 0.56723882 0.58013066 0.58201673 0.58286306]

# Streaming API

In [ ]:
import talib
from talib import stream

close = np.random.random(100)

# the Function API
output = talib.SMA(close)

# the Streaming API
latest = stream.SMA(close)

# the latest value is the same as the last output value
assert (output[-1] - latest) < 0.00001